/* 8bitcn Retro Styles */

.retro {
    font-family: 'Courier New', Courier, monospace;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

/* Pixel-perfect rendering */
* {
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
}